SECRET_KEY=your-very-secret-key-change-this
DEBUG=False
DJANGO_ALLOWED_HOSTS=mariyam-new-year.uz,www.mariyam-new-year.uz,127.0.0.1,localhost
DJANGO_CSRF_TRUSTED_ORIGINS=http://mariyam-new-year.uz,http://www.mariyam-new-year.uz
DJANGO_STATIC_ROOT=/home/mariyam-new-year/staticfiles
DJANGO_MEDIA_ROOT=/home/mariyam-new-year/media
